catboost==1.1.1
matplotlib==3.6.3
numpy==1.24.1
pandas==1.5.2
pipreqs==0.4.11
pipreqsnb==0.2.4
plotly==5.11.0
scikit_learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
statsmodels==0.13.5
cloudscraper==1.2.68
folium==0.14.0
ipywidgets==8.0.4
matplotlib==3.6.3
numpy==1.24.1
pandas==1.5.2
Pillow==9.4.0
pipreqsnb==0.2.4
plotly==5.11.0
PySimpleGUI==4.60.4
tkhtmlview==0.1.1.post5
